
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}

.title{
    display: flex;
}

.player-select{
    color: white;
    margin-top: 150px;
}
.player-select h1{
    color: #FF5E19;
    margin-bottom: 30px;
    font-size: 75px;
}

.player-select p{
    font-size: 16px;
    line-height: 30px;
}

.first-image img{
    position: relative;
    top: 29px;
}

.second-image img{
    position: absolute;
    top: 50px;
    left: 1100px;
}

.third-image img{
    position: relative;
    top: 300px;
    left: 150px;
}
